# Created by https://www.gitignore.io
# place file in ~/.config/git/ignore

### Qt ###
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es (qmake - keep for reference)
/.qmake.cache
/.qmake.stash
*.pro*.user
*.pro*.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*-build-*

# CMake build system
build/
*.cmake
CMakeCache.txt
CMakeFiles/
compile_commands.json
install_manifest.txt
CTestTestfile.cmake

# QtCreator

*.autosave
CMakeLists.txt.user*

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# Transifex ignore
.tx/

# Executables
mx-service-manager

# Generated version file
src/version.h
