[Desktop Entry]
Encoding=UTF-8
Name=MX Service Manager
Name[ca]=MX Service Manager
Name[de]=MX Service Manager
Name[el]=MX Service Manager
Name[es]=MX Service Manager
Name[fr]=MX Service Manager
Name[it]=MX Service Manager
Name[ja]=MX Service Manager
Name[nl]=MX Service Manager
Name[sv]=MX Service Manager
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=pkexec mx-service-manager
Terminal=false
Type=Application
Icon=mx-service-manager
Categories=GNOME;GTK;System;
NoDisplay=false
